/* Animation typing pour Tailwind */
@keyframes typing {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

.typing-span {
  animation: typing 1.4s infinite;
}

.typing-span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-span:nth-child(3) {
  animation-delay: 0.4s;
}


.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sidebar {
  overscroll-behavior-y: contain;
}

.sidebar-content {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
