<div class="bg-white rounded-3xl p-6 h-full flex flex-col justify-between shadow-sm hover:shadow-md transition-shadow duration-300 border border-gray-100">

    <div class="mb-2">
        <h3 class="text-gray-400 text-[16px] font-bold tracking-[0.15em] uppercase">
            {{ label }}
        </h3>
    </div>

    <div class="flex items-center gap-3 my-2 **overflow-hidden**">

        <span class="text-4xl sm:text-5xl md:text-6xl lg:text-[70px] xl:text-[80px] leading-none font-serif text-[#153e35] **truncate**">
            {{ value }}
        </span>
    </div>

    <div class="mt-1 min-h-6">
        @if (trendLabel) {
            <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-bold bg-[#D1FAE5] text-[#065F46]">
                {{ trendLabel }}
            </span>
        } @else if (description) {
            <p class="text-gray-500 text-sm">
                {{ description }}
            </p>
        }
    </div>

</div>